<!DOCTYPE html>
<html>
<head>
    <title>AND RPC Demo</title>
    <link rel="stylesheet" href="http://127.0.0.1:8000/static/styles.css">
</head>



<body>
<h2>RPC demo</h2>
<table id="value-table">
    <tbody>
    <tr>
        <th>Time</th>
        <th>Action</th>
        <th>The 'Language'</th>
        <th>Action</th>
    </tr>
    <tr>
        <td>JSON time</td>
        <td>Data1</td>
        <td>JSON</td>
        <td>
            <button onclick="updateCell('button1')" id='button1'>Refresh</button>
        </td>
    </tr>
    <tr>
        <td>RPC time</td>
        <td>Data2</td>
        <td>RPC request</td>
        <td>
            <button onclick="updateCell('button2')" id='button2'>Refresh</button>
        </td>
    </tr>
    <tr>
        <td>Streamed time</td>
        <td>Data3</td>
        <td>RPC stream</td>
        <td>
            <button disabled="true" onclick="updateCell('button2')">Refresh</button>
        </td>
    </tr>
    </tbody>
</table>

<script src="http://127.0.0.1:8000/static/ws.js"></script>
<script src="http://127.0.0.1:8000/static/helpers.js"></script>
</body>
</html>
